asgiref==3.2.10
Django==3.0.7
django-modeladmin-reorder==0.3.1
django-reversion==3.0.7
django-split-settings==1.0.1
djangorestframework==3.11.0
gmssl==3.2.1
pytz==2020.1
split-settings==1.0.0
sqlparse==0.3.1
